{% extends "base.njk" %}

{% block main %}
    <div class="mdl-project__post mdl-grid">
        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
                <div class="project_title">
                    <strong>Over Mij</strong>
                    <span>Professional Nerd</span>
                </div>
                <div class="section-spacer"></div>
                <button class="share-btn mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons">share</i>
                </button>
            </div>
            <div class="mdl-chips">
                    <span class="mdl-chip" style="background-color: #234587;">
                        <span class="mdl-chip__text">Nerd</span>
                    </span>
            </div>
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                <p>
                    Mijn naam is Maarten de Goede, ik ben geboren in 1998 in Leiden. Ik ben al bezig met programmeren sinds 2013, toen ik voor mijn Minecraft server een plugin heb gemaakt. Ik vond het maken van die plugin zo leuk dat ik er graag meer over wilde leren.<br>
                    <br>
                    Op dit moment zit ik op Hogeschool Rotterdam opleiding Informatica, waar ik me meer in het vak wil verdiepen. <br>
                    <br>
                    In de komende maanden ben ik van plan om te beginnen met blogs schrijven over Android development, programming en dingen die ik gewoon interessant vind. <br>
                    <br>
                    <br>
                    <b>Eigenschappen</b><br>
                    <br>
                    - Leergierig<br>
                    - Secuur<br>
                    - Professioneel<br>
                    - Behulpzaam<br>
                    <br>
                    <br>
                    <b>Interesses</b><br>
                    <br>
                    - Android<br>
                    - (Roleplaying) games<br>
                    - Geschiedenis<br>
                    - Fantasy boeken<br>
                    <br>
                    Meer weten? Neem een kijkje op mijn <a href="https://media.insertcode.eu/cv">CV</a>!<br>
                    <br>
                </p>
            </div>
        </div>
    </div>
{% endblock %}