{% extends "base.njk" %}

{% block main %}
    <div class="mdl-project__post mdl-grid">
        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
                <div class="project_title">
                    <strong>Over Mij</strong>
                    <span>Professional Nerd</span>
                </div>
                <div class="section-spacer"></div>
                <button class="share-btn mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons">share</i>
                </button>
            </div>
            <div class="mdl-chips">
                    <span class="mdl-chip" style="background-color: #234587;">
                        <span class="mdl-chip__text">Nerd</span>
                    </span>
            </div>
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                <p>
                    <b>Background</b><br/>
                    Even as a kid he was weird. People were scared of him. He had a special power, and people knew it.<br/>
                    He was the chosen one, the Nerevarine, destined to stop Alduin from obtaining the One Ring to start the Long Night, and most importantly, he had the high ground.<br/>
                    <br/>
                    But for a long time, the four nations were at peace. But everything changed when the Fire Nation attacked. Only the Chosen One, Lord of the Seven Kingdoms and Protector of the Realm, could stop them, but when the world needed him most, he vanished.<br/>
                    <br/>
                    A hundred years passed, and two people found the Chosen One, a person named Maarten. He still had much to learn, but they believed he could save the world.<br/>
                    <br/>
                    Instead, he started making stupid useless apps.<br/>
                    <br/>
                    <br/>
                    <b>But really, what do you do?</b><br/>
                    I make useless apps (like <a href="https://play.google.com/store/apps/details?id=eu.insertcode.clapp">clapp</a>).<br/>
                    I also read books, play games, work, study, hang out with friends, the usual.
                </p>
            </div>
        </div>
    </div>
{% endblock %}