<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer--bottom-section">
        <div class="mdl-logo">Meer informatie</div>
        <ul class="mdl-mini-footer--link-list">
            <li><a href="https://github.com/MrTheGood/">Github</a></li>
            <li><a href="mailto:mail@insertcode.eu">Mail</a></li>
            <li><a href="https://www.linkedin.com/in/mrthegood/">LinkedIn</a></li>
            <li><a href="https://media.insertcode.eu/cv">CV</a></li>
        </ul>
    </div>
</footer>