{% extends "base.njk" %}

{% block main %}
	<a href="./about/" style="right: 64px; position: absolute;">
		<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
			<i class="material-icons">person</i>
		</button>
	</a>
	{% for item in projects %}
		<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
			{# TODO IMAGE FIXED ASPECT RATIO #}
			{% if item.images %}
				<header class="mdl-card-coverimage mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--amber-200 mdl-color-text--white"
						style="background: url('{{ item.images | first }}') center / cover;">
				</header>
			{% endif %}
			<div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
				<div class="mdl-card__supporting-text">
					<div class="project_title">
						<strong>{{ item.title }}</strong>
						<span>{{ item.date }}</span>
					</div>
					{{ item.description | truncate(50, true) }}
				</div>
				<div class="mdl-card__actions mdl-chips">
					{% for tag in item.tags %}
						<span class="mdl-chip" style="background-color: {{ tag[1] }};">
							<span class="mdl-chip__text">{{ tag[0] | capitalize }}</span>
						</span>
					{% endfor %}
					<a href="./projects/{{ item.id }}">
						<button class="mdl-button mdl-js-button mdl-button--accent">
							Read More
						</button>
					</a>
				</div>
			</div>
		</section>
	{% endfor %}
{% endblock %}